---
---

@import "{{ site.theme }}";
section { width: 800px; float: right; padding-bottom: 50px; }
.wrapper {width: 1160px; margin: 0 auto;}
body { font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji"; }
a:hover, a:focus { color: #002040; font-weight: 400; }