<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="New Rule Set" Description=" " ToolsVersion="16.0">
  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
    <Rule Id="SA1101" Action="None" />
    <Rule Id="SA1201" Action="None" />
    <Rule Id="SA1202" Action="None" />
    <Rule Id="SA1203" Action="None" />
    <Rule Id="SA1204" Action="None" />
    <Rule Id="SA1214" Action="None" />
    <Rule Id="SA1309" Action="None" />
    <Rule Id="SA1600" Action="Info" />
    <Rule Id="SA1602" Action="Info" />
    <Rule Id="SA1633" Action="None" />
  </Rules>
</RuleSet>